@{
    ViewData["Title"] = "Info";
}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title text-center">Muito obrigado</h5>
    <p class="card-text">Primeiramente gostaria de agradecer pela oportunidade que me foi dada de participar desse 
        processo seletivo, muito obrigado a todos, independente do resultdo eu os agradeço, que Deus abençoe grandiosamente 
        a todos!
    </p>
    <p class="card-text"><small class="text-muted">Muito obrigado!</small></p>
  </div>
