@{
    ViewData["Title"] = "Info";
}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title text-center">Muito obrigado</h5>
    <p class="card-text">Primeiramente gostaria de deixar registrado a minha gratidão pela oportunidade que me foi dada de participar do processo seletivo, independente do resultado, gostaria de externalizar a minha gratidão, que Deus abençoe grandiosamente 
        a todos!
    </p>
    <p class="card-text"><small class="text-muted">Muito obrigado!</small></p>
  </div>
